label, input, button {
	font-size:12px;
	font-family:Helvetica;
}

#lblResult, #lblResult3, #lblResult4, #lblSecurity {
    font-weight: bold;
}

#butLang {
    background-image : url(img/gr.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:40px;
	height:20px;
	float:right;
}

#butReset {
    background-image : url(img/reset.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:25px;
	height:20px;
	float:left;
}

body {
	width:145px;
}